# General
pillow==6.2.0

# Django
Django==2.2.6

# Debug
django-debug-toolbar==1.11

# Secure Sensitive Constant
python-decouple==3.1

django-extensions==2.2.3

# Django Rest Framework
djangorestframework==3.10.3

django-webpack-loader==0.6.0